.container {
  width: 100%;
}


.titleformat {
  color: #22b7b5;
}

.jumbotron {
  color: #22b7b5;
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #f5f9e5;
}

img.logo {
 height: 80px;
 float: left;
 margin: 15px;
 padding: 5px;
}

.location {
  font-size: 18pt;
}

.intro {
  font-size: 18pt;
  color: gray;
}

.track-list {
  color: red;
  font-size: 16pt;
}

.note {
  color: teal;
  font-size: 15pt;
}

.panel-title {
  font-size: 20pt;
  font-weight: bold;
  background-color: #22b7b5;
  color: white;
}

.panel-heading {
  background-color: #22b7b5;
}

#Ruby-box {
  display: none;
}

#CSS-box {
  display: none;
}

#CNET-box {
  display: none;
}

#not-motivated {
  display: none;
}

#motivated {
  display: none;
}

#default {
  display: none;
}

.col-md-4 {
  padding:2px;
}
